<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TimeLock</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/styles.css">
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body class="<%= !locals.hideHeader ? 'sidebar-visible' : '' %>">
  <%- include('../partials/header') %>
  
  <div class="container">
    <%- body %>
  </div>

  <%- include('../partials/footer') %>
</body>

</html>